<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container" id="contact">
	<h1 class="contact">Contact Me</h1>
	<h2 class="contact text">Phone: <a class="text" href="tel:17079537884">(707) 953-7884</a> 
		<br>Email: <a class="text" href="mailto:slhorner@ucsd.edu">slhorner@ucsd.edu</a> 
		<br>&emsp;&emsp;&nbsp;&nbsp;<a class="text" href="mailto:shorner5234@yahoo.com">shorner5234@yahoo.com</a>
	</h2>
	
	<i class="material-icons md-48 bounce">work</i>

</div>