<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container">
	<h1>//Select a Project</h1>
	<div class="web-projects fade-in">
		{{#each model as |project|}}
			{{web-project project=project}}
		{{/each}}
	</div>

</div>
